.Bangalore_Section_p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #b8c0e7;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    padding: 0px 5%;
    font-family: 'Montserrat', sans-serif;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.serviceBox{
    width: 320px;
    height:410px;
    color: var(--main-color);
    /* font-family: 'Poppins', sans-serif; */
    text-align: center;
    margin: 0 50px;
    position: relative;
    z-index: 1;
}
.serviceBox:before{
    content: '';
    background: linear-gradient(to bottom,rgb(61, 72, 83) 89%,var(--main-color) 0%);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 25px;
    z-index: -1;
}
.serviceBox .title{
    color:#f3f5f7;
    background: var(--main-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 10px;
    margin: 0 -10px 15px;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: "";
    background: linear-gradient(to top right,transparent 49%, var(--main-color) 50%);
    width: 10px;
    height: 10px;
    opacity: 0.5;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.serviceBox .title:after{
    transform: rotateY(180deg);
    left: auto;
    right: 0;
}
.serviceBox .description{
    color: #b8c0e7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 0 15px 15px;
    text-align: justify;
}
.register{
    background: var(--main-color);
    /* padding: 5px; */
    /* border-radius: 0 0 20px 20px; */
    position: absolute;
    bottom: 30px;
    padding: 0px 35%;
    text-align: center;
    background-color: transparent;
}
.register a{
    font-size: 1.5rem;
    position: relative;
    /* text-align: center; */
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    font-family: sans-serif;   
}
.register a:hover {
    font-size: 1.6rem;
    margin-bottom: -5%;
    transition: 0.4s;
}
.serviceBox.orange{ --main-color: #e67e22; }
.serviceBox.purple{ --main-color: #5faef4e1; }
.serviceBox.blue{ --main-color: #3498db; }
@media only screen and (max-width: 1199px){
    .serviceBox{ margin: 0 30px 30px; }
    .Bangalore_Section_p{
        font-size: 1rem;
    }
    .row{
        flex-wrap: wrap;
    }
    .serviceBox{ margin: 0 10px 30px; }

}