.row{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center; */
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
    /* max-width: 842px; */
}
.mentors_wrapper{
    margin:0 7%;
}
.mentors{
    text-align: center;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}
.mentors .pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
.mentors .pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid  #0095da;
    overflow:hidden;
    object-fit: cover;
}
.mentors .pic:after{
    content: "";
    width: 208px;
    height: 208px;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.mentors:hover .pic:after{ 
    opacity: 1; 
}

.mentors .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    transition: all 0.5s ease 0s;
    /* display: flex;
    justify-content: space-around; */
}
.mentors:hover .social{ opacity: 1; }
.mentors .social li{ display: inline-block; }
.mentors .social li a{
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    border: 1px solid  #0095da;
    font-size: 15px;
    color:  #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;   
}
.mentors .social li a:hover{
    background: #0095da;;
    color: #000;
}
.mentors .mentors-content{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: -15px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.mentors:hover .mentors-content{ border: 2px dotted  #0095da; }
.mentors .mentors-info{
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.mentors .title{
    font-size: 1rem;
    font-weight: 600;
    color: #b8c0e7;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}
.mentors:hover .title{ color:  #0095da; }
.mentors .post{
    display: block;
    font-size: 12px;
    color:  #a5b6c458;
}

@media screen and (max-width:760px) {
    .mentors_wrapper{
    margin:2% 5%;
}
}