.prayas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_prayas{
    width: 50%;
}
.prayas_title{
    position: relative;
   text-align: left;
   font-size: 1.3rem;
   margin-bottom: -1%;
   font-weight: 600;
   display: flex;
   justify-content: start;
   text-decoration: none;
   cursor: pointer;
}
.prayas_hr{
    border: 0;
    height: 1px;
    width: 150%;
    /* margin-bottom: 5%; */
    background-image: linear-gradient(
      to right,
      rgba(113, 227, 242, 0.75),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
}

.prayas_para{
    font-size: 1rem;
    text-align:left;
    line-height: 1.5;
    color: #b8c0e7;
    display: none;
}
.prayas_active_para{
    display: block;
}   