.our-team{
    text-align: center;
}
.our-team .team-image{
    width: 200px;
    height:200px;
    border-radius: 50%;
    border: 5px solid #bedff9;
    position: relative;
    margin: auto;
    transition: all 0.5s ease 0s;
}
.our-team:hover .team-image{
    border-color: #39bcf0;
}
.our-team .team-image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.our-team .social{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{
    opacity: 1;
    transform: scale(1);
    animation: 0.5s ease 0s normal 1 bounce;
}
.our-team .social li{
    display: inline-block;
    border-radius: 50%;
}
.our-team .social li:first-child{
    margin-left: -20px;
    float: left;
}
.our-team .social li:last-child{
    margin-right: -20px;
    float: right;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 20px;
    color: #39bcf0;
    border: 3px solid #39bcf0;
}

.our-team .team-content{
    padding: 10px 50px;
}
.our-team .title{
    font-size: 24px;
    color: #4ea2f1;
    margin: 0 0 10px 0;
}
.our-team .description{
    font-size: 14px;
    color:#b8c0e7;
    line-height: 25px;
    margin: 0;
}
@keyframes bounce{
    0%{
        opacity:0;
        -webkit-transform:scale(.3);
        transform:scale(.3)
    }
    50%{
        opacity:1;
         -webkit-transform:scale(1.05);
         transform:scale(1.05)
    }
    70%{
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@media screen and (max-width: 990px){
    .our-team{ margin-bottom: 20px; }
}

/* profile card link */
/* https://bestjquery.com/tutorial/our-team/demo38/ */